
.table-logins {
    font-size: 14px;
    margin-top: 0;
    padding-top: 0;
    border-collapse: collapse;
    width: 100%;
}

.table-logins td, .table-logins th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-logins tr:nth-child(even){background-color: #f2f2f2;}

.table-logins tr:hover {background-color: #ddd;}

.table-logins th {
    text-transform: none;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffffff;
    color: #2c2c2c;
    border-collapse: collapse;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.wrap-login100-form-btn>a:hover{
    color: white;
}